<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row row-cols-5 justify-content-md-center align-items-center h-33">
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Izquierda superior.png" (mouseover)="onHover('Izquierda superior')">
                </div>
                <div class="col-1 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Arriba.png" (mouseover)="onHover('Arriba')">
                </div>
                <div class="col-1"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Derecha superior.png" (mouseover)="onHover('Derecha superior')">
                </div>
            </div>
            <div class="row row-cols-5 justify-content-md-center align-items-center h-33 pt-1">
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Izquierda.png" (mouseover)="onHover('Izquierda')">
                </div>
                <div class="col-5 text-center">
                    <div class="row justify-content-md-center align-items-center">
                        <div class="col-6 text-center">
                            <span type="text" id="text">{{texto}}</span>
                            <img class="w-100 h-33 pointer rounded-lg" src='{{imagen}}'>
                        </div>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Derecha.png" (mouseover)="onHover('Derecha')">
                </div>
            </div>
            <div class="row row-cols-5 justify-content-md-center align-items-center h-33 pt-2">
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Izquierda inferior.png" (mouseover)="onHover('Izquierda inferior')">
                </div>
                <div class="col-1 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Abajo.png" (mouseover)="onHover('Abajo')">
                </div>
                <div class="col-1 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/Derecha inferior.png" (mouseover)="onHover('Derecha inferior')">
                </div>
            </div>
        </div>
    </div>
</div>