<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row row-cols-5 justify-content-md-center align-items-center h-33">
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/izquierda-superior.png" (mouseover)="onHover('Izquierda-arriba')">
                </div>
                <div class="col-1 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/arriba.png" (mouseover)="onHover('Arriba')">
                </div>
                <div class="col-1"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/derecha-superior.png" (mouseover)="onHover('Derecha-arriba')">
                </div>
            </div>
            <div class="row row-cols-5 justify-content-md-center align-items-center h-33 pt-1">
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/izquierda.png" (mouseover)="onHover('Izquierda')">
                </div>
                <div class="col-5 text-center">
                    <span>{{instruccion}}</span>
                </div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/derecha.png" (mouseover)="onHover('Derecha')">
                </div>
            </div>
            <div class="row row-cols-5 justify-content-md-center align-items-center h-33 pt-2">
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/izquierda-inferior.png" (mouseover)="onHover('Izquierda-abajo')">
                </div>
                <div class="col-1 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/abajo.png" (mouseover)="onHover('Abajo')">
                </div>
                <div class="col-1 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg" src="../../assets/img/derecha-inferior.png" (mouseover)="onHover('Derecha-abajo')">
                </div>
            </div>
        </div>
    </div>
</div>