<!-- <Body>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</Body> -->

<app-inicio *ngIf="state==0" (next)="onNext($event)"></app-inicio>
<app-registro *ngIf="state==1" (next)="onNext($event)"></app-registro>
<app-ayuda *ngIf="state==2"  (next)="onNext($event)"></app-ayuda>
<app-primer-nivel *ngIf="state==3" (next)="onNext($event)"></app-primer-nivel>
<app-segundo-nivel *ngIf="state==4" (next)="onNext($event)"></app-segundo-nivel>
<app-agradecimiento *ngIf="state==5"></app-agradecimiento>