<div class="container-fluid div1">
    <div class="row">
        <div class="col">
            <div class="row row-cols-3 justify-content-md-center align-items-center h-33">
                <div class="col-4 text-center"></div>
                <div class="col-4 text-center">
                    <img class="w-100 h-33 pointer" src="../../assets/img/arriba.png" (mouseover)="onHover('Arriba')">
                </div>
                <div class="col-4 text-center"></div>
            </div>
            <div class="row row-cols-3 justify-content-md-center align-items-center h-33">
                <div class="col-4 text-center">
                    <img class="w-100 h-33 pointer" src="../../assets/img/izquierda.png" (mouseover)="onHover('Izquierda')">
                </div>
                <div class="col-4 text-center">
                    <span>{{instruccion}}</span>
                </div>
                <div class="col-4 text-center">
                    <img class="w-100 h-33 pointer" src="../../assets/img/derecha.png" (mouseover)="onHover('Derecha')">
                </div>
            </div>
            <div class="row row-cols-3 justify-content-md-center align-items-center h-33">
                <div class="col-4 text-center"></div>
                <div class="col-4 text-center">
                    <img class="w-100 h-33 pointer" src="../../assets/img/abajo.png" (mouseover)="onHover('Abajo')">
                </div>
                <div class="col-4 text-center"></div>
            </div>
        </div>
    </div>
</div>