<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row row-cols-3 justify-content-md-center align-items-center h-33">
                <div class="col-4 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg"
                        src="../../assets/img/Arriba.png" (mouseover)="onHover('Arriba')">
                </div>
                <div class="col-4 text-center"></div>
            </div>
            <div class="row row-cols-3 justify-content-md-center align-items-center h-33">
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg"
                        src="../../assets/img/Izquierda.png" (mouseover)="onHover('Izquierda')">
                </div>
                <div class="col-6 justify-content-md-center align-items-center">
                    <div class="row justify-content-md-center align-items-center">
                        <div class="col-6 text-center">
                            <span *ngIf="consigna=='Escrita'" type="text" id="text">{{texto}}</span>
                            <img *ngIf="consigna=='Visual'" class="w-100 h-33 pointer rounded-lg" src='{{imagen}}'>
                            <img *ngIf="consigna=='Acústica'" class="w-75 h-33 pointer rounded-lg" src='{{imagen}}'>
                        </div>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg"
                        src="../../assets/img/Derecha.png" (mouseover)="onHover('Derecha')">
                </div>
            </div>
            <div class="row row-cols-3 justify-content-md-center align-items-center h-33">
                <div class="col-4 text-center"></div>
                <div class="col-3 text-center">
                    <img style="background-color: #0077c0;" class="w-100 h-33 pointer rounded-lg"
                        src="../../assets/img/Abajo.png" (mouseover)="onHover('Abajo')">
                </div>
                <div class="col-4 text-center"></div>
            </div>
        </div>
    </div>
</div>