<div class="background">
    <div class="container pt-5 pb-5">
        <div class="form pt-5">
            <div class="row justify-content-center align-content-center">
                <div class="col-6 border border-light rounded text-light">
                    <form (ngSubmit)="registro(form.value)" #form="ngForm" role="form" class="align-content-center pt-2 pb-2">
                        <p class="text-center font-weight-bold pb-4 pt-2">Datos del Paciente Nuevo</p>
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" id="nombre" data-rule="minlen:4"
                                placeholder="Nombre" data-msg="Ingrese nombre completo" ngModel required />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="sexo" class="form-control" id="sexo" data-rule="minlen:4"
                                placeholder="Sexo" data-msg="Ingrese sexo" ngModel required />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="edad" class="form-control" id="edad" data-rule="minlen:4"
                                placeholder="Edad" data-msg="Ingrese edad" ngModel required />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">Que mano usa más:</div>
                                <div class="col-8">
                                    <select id="lateralidad" name="lateralidad" class="form-control"
                                        placeholder="Lateralidad" ngModel>
                                        <option *ngFor="let lateralidad of lateralidades" [value]="lateralidad.name"
                                            placeholder="Lateralidad">
                                            {{lateralidad.name}}
                                        </option>
                                    </select>
                                    <div class="validate"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">Nivel de estudios:</div>
                                <div class="col-8">
                                    <select id="estudios" name="estudios" class="form-control"
                                        placeholder="Nivel de estudios" ngModel>
                                        <option *ngFor="let estudios of estudio" [value]="estudios.name">
                                            {{estudios.name}}
                                        </option>
                                    </select>
                                    <div class="validate"></div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-5 pb-2">
                            <button class="btn btn-light">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>